@{
    ViewBag.Title = "Juego Terminado";
}

<h1>Juego Terminado</h1>
<p>Usuario: @ViewBag.username</p>
<p>Puntaje Final: @ViewBag.Puntaje</p>
<a href="@Url.Action("ConfigurarJuego", "Home")" class="button">Volver a Jugar</a>
