@{
    ViewBag.Title = "Inicio";
}

<h1>Bienvenido al Juego de Preguntas</h1>
<p>Prepárate para una aventura impresionante en Madagascar. ¿Listo para jugar?</p>
<a href="@Url.Action("ConfigurarJuego", "Home")" class="button">Configurar Juego</a>
